{% load static %}

            <div align="center" style="font-size: 1.9vw; padding-top: 3%;"> <b>Jackson KingV</b> </div>
            <hr color="black" style="float: none; width: 100%;"/>

            <div width="100%" style="border-style: solid; background-color: ghostwhite;">
                <img src="{% static "images/Jackson_KingV.png" %}" alt="KingV" style="width:100%; height:100%;">
            </div>

            <div style="font-size: 1.7vw; width: 45%; display: inline-block; margin-right: 9%;">  <b>Cost:</b> 100$ </div>
            <div align="right" style="width: 45%; display: inline-block;">
                <button type="button" class="btn btn-success" onclick="">In Bucket</button>
            </div>

            <div align="left" style="font-size: 1.9vw; padding-top: 3%;"> <b>Info</b> </div>
            <div style="font-size: 1.3vw;">
                It is da best guitar in da fukin world.
            </div>

            <hr color="black" style="float: none; width: 100%;"/>
            <div>
                <button type="button" class="btn btn-default" onclick="testz()">Back</button>
            </div>